*{
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.744);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.blink{
    animation: blinker 1.5s linear infinite;
}
@keyframes blinker{
    50%{
        opacity: 0;
    }
}
body{
    background-color: rgba(212, 165, 255, 0.573);
}
/* Navbar */
.navbar-list{
    background-color: rgb(0, 255, 255);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 17px, 0px;
}
.navbar-item{
    margin: 0px 20px;
    list-style-type: none;
}
.toggle{
    margin: 0 12px;
    list-style-type: none;
    display: none;
}
.navbar-link{
    text-decoration: none;
    font-weight: bold;
}
.navbar-link:hover{
    color: black;
}
.logo{
    font-size: 2em;
    cursor: pointer;
    font-weight: bold;
    list-style-type: none;
    margin-right: auto;
    margin-left: 40px;
}
.logo a{
    text-decoration: none;
}
.navbar-button{
    font-size: 1em;
    background: blue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    font-weight: bold;
    
}
.navbar-button:hover{
    background-color: azure;
    color: black;
}
/* TITLE */
.title{
    padding: 50px 50px;
}
.title-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}
.character{
    flex: 1;
    text-align: center;
    margin: auto;
}
.character-img{
    width: 500px;
    border-radius: 3%;
}
.big-heading{
    flex: 1;
    margin-left: 30px;
    margin: auto;
}
.big-heading h1{
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 20px;
    color: black;
}
.big-heading p{
    font-size: 1.5em;
    margin-bottom: 50px;
}
.explore-button{
    background-color: purple;
    border: none;
    border-radius: 12px;
    font-size: 1em;
    font-weight: bold;
    margin-right: 20px;
    padding: 20px 50px;
    transition: 0.4s;
}
.explore-button a{
    text-decoration: none;
    color: white;
}
.explore-button:hover{
    background-color: navy;
}
@media screen and (max-width: 768px){
    .toggle{
        display: block;
    }
    .navbar-item{
        text-align: right;
        margin: 20px;
        width: 100%;
        display: none;
        margin-right: 50px;
    }
    .active{
        display: block;
    }
    .navbar-list{
        flex-wrap: wrap;
    }
    .navbar-button{
        display: flex;
        width: 40%;
        justify-content: center;
        margin-left: auto;
    }
}


.collection{
    margin-top: 25px;
    background-color: black;
    text-align: center;
    padding: 50px 0;
}

.collection h2{
    color: white;
    font-size: 4em;
    margin-bottom: 30px;
}
.collection-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.collection-card{
    display: flex;
    flex-direction: column;
    margin: 10px ;
    margin-top: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px grey;
    transition: 0.4s;
}
.collection-card:hover{
    box-shadow: 0 0 35px grey;
}
.image-box{
    width: 320px;
    height: 300px;
    border-radius: 10px 10px 0 0 ;
    overflow: hidden;
}
.image-box img{
    margin-top: 12px;
    border-radius: 15px;
    height: 80%;
    width: 80%;
    transition: 0.4s ease-in-out;
}
.image-box:hover img{
    transform: scale(1.2);
}
.collection-card h3{
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: -45px 0 10px 0;
    text-align: center;
}
.latin{
    color: black;
    font-weight: bold;
    font-family: inherit;
    text-decoration: underline;
    margin: 10px 0;
    text-align: center;
}
.tipe{
    color: blue;
    font-weight: bold;
    font-size: large;
    margin: 10px 10px 0;
    text-align: center;
}
.card-button{
    background-color: blueviolet;
    padding: 15px 80px;
    border-radius: 10px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin: 10px 20px 20px;
    border: none;
    transition: 0.4s;

}
.card-button:hover{
    background-color: aqua;
    color: black;
    box-shadow: 5px 5px grey;
}
footer{
    background: white;
    text-align: center;
    padding:30px 0;
}
aside{
    background: white;
    justify-content:center ;
    display: flex;
}
.biography{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px gray;
}
.biography:hover{
    box-shadow: 0 0 15px gray;
}
.profileimg{
    border-radius: 10px 10px 0 0;
}
.biography h3{
    color: black;
    font-weight: bold;
    margin: 5px 0 10px;
}
.contact{
    margin: 20px 10px;
}
.sosmed{
    padding: 0 5px;
}

@media screen and (max-width: 1024px) {
    .big-heading{
        margin-left: 30px;
    }
}
@media screen and (max-width:912px){
    .title-container{
        flex-direction: column;
    }
    .big-heading{
        margin: 0;
        text-align: center;
    }
    .character{
        margin-top: 50px;
    }
    .character-img{
        width: 400px;
    }
}
@media screen and (max-width:500px) {
    .character-img{
        width: 300px;
    }
}
@media screen and (max-width:425px){
    .collection-card{
        width: 100%;
    }
    .image-box{
        width: 100%;
        height: 250px;
    }
}
@media screen and (max-width:375px) {
    .collection-card{
        width: 80%;
    }
    .image-box{
        width: 100%;
        height: 220px;
    }
    .card-button{
        padding: 8px 15px;
    }
}
@media screen and (max-width:320px) {
    .biography{
        width: 70%;
        margin: auto;
        margin-top: 19px;
    }
    .profileimg{
        width: 100%;
    }
    .character{
        margin-top: 10px;
    }
    .character-img{
        width: 230px;
    }
    .big-heading h1{
        margin-top: 10px;
        font-size: 1.8em;
    }
    .big-heading p{
        font-size: 1em;
    }
    .explore-button{
        padding: 10px 20px;
        font-size: small;
    }
}